@tailwind base;
@tailwind components;
@tailwind utilities;

.flatpickr-calendar {
    font-family: inherit;
}
.flatpickr-day.selected {
    background: #ED1B45 !important;
    border-color: #ED1B45 !important;
}
